table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

td {
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

.wsNoWrap {
	white-space: nowrap;
}

.projTableDiv {
	width: 40vw;
}

.no-lr-padding {
	padding-left: 0;
	padding-right: 0;
}