
                            <section class="education-section py-3">

                                <h3 class="text-uppercase resume-section-heading mb-4">{{ i18n "interests" }}</h3>

                                <ul class="list-unstyled resume-interests-list mb-0">
                                    {{ range .Site.Params.interests.list }}
                                    <li class="mb-3">
                                        <div class="font-weight-bold">{{ .name }}</div>
                                        <div class="text-muted">{{ .body }}</div>
                                        <div class="text-muted">Telephone: {{ .phone }}</div>
                                        <div class="text-muted">Email: {{ .email }}</div>
                                    </li>
                                    {{ end }}
                                </ul>

                            </section><!--//education-section-->